<div class="row">
	<div class="col-md-3 col-sm-2 col-xs-1"></div>
	<div class="col-md-6 col-sm-8 col-xs-10 text-center">
		<div class="container countryCard">	
			<h2>{{ country.countryName }}</h2>
			<div class="row text-center">
				<div class="col-xs-6 text-right">Country Population:</div>
				<div class="col-xs-6 text-left">{{ country.population | number }}</div>
			</div>
			<div class="row text-center">
				<div class="col-xs-6 text-right">Area:</div>
				<div class="col-xs-6 text-left">{{ country.areaInSqKm | number }} km<sup>2</sup></div>
			</div>
			<div class="row text-center">
				<div class="col-xs-6 text-right">Capital:</div>
				<div class="col-xs-6 text-left">{{ country.capital }}</div>
			</div>
			<div class="row text-center">
				<div class="col-xs-6 text-right">Capital Population:</div>
				<div class="col-xs-6 text-left">{{ capital.population }}</div>
			</div>
			<div class="row text-center">
				<div class="col-xs-6 text-right">3 Neighbors:</div>
				<div class="col-xs-6 text-left"><span ng-repeat="neighbor in neighbors track by $index"><a href="#/countries/{{ neighbor.geonameId }}/capital">{{ neighbor.countryName }}</a> </span></div>
			</div>
			<div class="row text-center countryImages">
				<div class="col-xs-6 text-right"><img class="map" src="http://www.geonames.org/img/country/250/{{ country.countryCode | uppercase }}.png" /></div>
				<div class="col-xs-6 text-left"><img class="flag" src="http://www.geonames.org/flags/x/{{ country.countryCode | lowercase }}.gif" /></div>
			</div>
			<br/>
			<div class="row text-center">
				<div class="col-xs-6 text-right"><a href="#!/"><button class="btn btn-default">Home</button></a></div>
				<div class="col-xs-6 text-left"><a href="#/countries"><button class="btn btn-default">Browse Countries</button></a></div>
			</div>
		</div>

		<br/>
		<p>{{ capitalDetails }}</p>

	</div>
	<div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>