<div class="row">
	<div class="col-md-3 col-sm-2 col-xs-1"></div>
	<div class="col-md-6 col-sm-8 col-xs-10 text-center">
		<img src="./components/home/world-map.jpg" id="homeMap">
		<p class="home-description">Lorem ipsum dolor sit amet, nulla quaestio similique an quo. Nam no virtute sanctus disputando. At eam patrioque honestatis, ei torquatos liberavisse nec. Ne tibique phaedrum adolescens mel, dolorem partiendo vituperata in cum. His ea dolorem postulant, at admodum hendrerit ius. Sit eu etiam dolor detraxit. Nam meliore albucius deterruisset at, ex albucius qualisque mea, eam te bonorum saperet. Eum omnium meliore vocibus ea, sanctus imperdiet cu vel.</p>
		
		<a href="#!/countries"><button type="button" class="btn btn-default">Browse Countries</button></a>
	</div>
	<div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>

